<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>
    <body>
        {% for post in object_list %}
        <div class="container"><br>
            <div class="card col-md-12">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.body }}</p>
                <p>Created by: {{post.author.username}}</p>
                  {% for tag in post.tags.all %}
                    <a href="/by/tag/{{tag.id}}/">#{{tag.name}}</a>
                  {% endfor %}
                <br><a href="/{{post.title}}/" class="btn btn-primary">Read more</a>
                  <a href="/edit/post/{{post.id}}/" class="btn btn-success">Edit</a>
                  <a href="/delete/post/{{post.id}}/" class="btn btn-danger">Delete</a>
              </div>
            </div><br>
        </div>
        {% endfor %}
    </body>
</html>