<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My First Flask App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        <label for="{{field.name}}">{{field.label}}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <input style="width: 100%" class="btn btn-primary" type="submit" value="ADD">
                </form>
            </div>
        </div>
    </div>
</body>
</html>