<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My First Flask App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th></th>
                    </tr>
                    {% for song in songs %}
                    <tr>
                        <th>{{song.name}}</th>
                        <th>{{song.duration}}</th>
                        <th>
                            <a href="/{{song.author.id}}/">{{song.author.name}}</a>
                        </th>
                        <th>
                            <a href="/genre/{{song.genre.id}}/">{{song.genre.name}}</a>
                        </th>
                        <th>
                            <form method="post" action="/remove_song/">
                                <input type="hidden" value="{{song.id}}" name="id">
                                <input type="submit" value="DELETE" class="btn btn-danger">
                            </form>
                        </th>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>